@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #FCFFFE;
    padding: 0 35px;
}
.header {
    position: absolute;
    top: 20px;
    left: 20px;
}
.header img {
    width: 150px;
    height: auto;
}
.login-form {
    background-color: #FCFFFE;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}
h1 {
    font-size: 32;
    font-weight: 400;
}
h2 {
    margin-bottom: 20px;
    font-size: 24;
    font-weight: 500;
    color: #2C556D;
}
.login-form input[type="text"] {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 24px;
}
.login-form input[type="text"]:active {
    border: 1px solid #F9AF7C;
    /* #f57923; */
}
.button_primary {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #4ED6B0;
    color: #FCFFFE;
    border: none;
}
.button_secondary {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    background-color: #FCFFFE;
    color: #2C556D;
    border-color: #2C556D;
}
.button_tetriary {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 48px;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    background-color: transparent;
    color: #2C556D;
    border: none;
}
.login-form button:hover {
    background-color: #29b28c;
}
.desktop-message {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #FCFFFE;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
    display: grid;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.grid-item {
    background-color: #FCFFFE;
    background-size: cover;
    background-clip: padding-box;
    padding: 15px;
    box-shadow: #4ED6B0 0 0 4px 0;
    border: none;
    border-radius:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    font-size: 16px;
}


.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    flex-direction: column;
    display: flex;
    display: none;
}

.modal_background.active {
    display: block;
    flex-direction: column;
    display: flex;
}

.modal {
    margin: 35px;
    margin-top: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FCFFFE;
    border-radius: 24px;
    align-items: center;
    text-align: center;
}

.modal img {
    max-width: 50%;
}

.modal .buttons {
    display: flex;
    width: 100%;
    margin: 5px;
}

.modal_camera {
    max-width: 50px;
    display: none;
}

.winner_winner_chicken_dinner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4ED6B0;
    z-index: 3;
}


.bingo_container {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    line-height: 0.825;    
    font-size: 25vw;
    color: #FCFFFE;
    margin-top: -30px;
    --base-opacity: 20%;
    --increment: 20%; /* Increment size */
}

.winner_winner_chicken_dinner > .bingo_container *:nth-child(1) {
    opacity: calc(var(--base-opacity) + var(--increment) * 0);
}

.winner_winner_chicken_dinner > .bingo_container *:nth-child(2) {
    opacity: calc(var(--base-opacity) + var(--increment) * 1);
}

.winner_winner_chicken_dinner > .bingo_container *:nth-child(3) {
    opacity: calc(var(--base-opacity) + var(--increment) * 2);
}

.winner_winner_chicken_dinner > .bingo_container *:nth-child(4) {
    opacity: calc(var(--base-opacity) + var(--increment) * 3);
}

.winner_winner_chicken_dinner > .bingo_container *:nth-child(5) {
opacity: calc(var(--base-opacity) + var(--increment) * 4);
}
      
.winner_winner_chicken_dinner .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 35px;
    z-index: 7;
}

.wiewiur {
    position: absolute;
    max-width: 320px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
    z-index: 5;
    display: none;
}

.modal_close_button {
    padding: 17px 20px;
    background-color: #FCFFFE;
    border-radius: 50%;
    border: inherit;
    text-align: center;
    align-self: center;
}